<footer class="footer">
  <ul class="footer-links">
      <li><a href="/about">About</a></li>
      <li><a href="#">Jobs</a></li> <!-- Link can be added later -->
  </ul>

  <div class="footer-icons">
      <a href="https://github.com/atgdot" target="_blank"><i class="lni lni-github"></i></a>
      <a href="https://www.linkedin.com/in/ayush-raj-61085425a" target="_blank"><i class="lni lni-linkedin"></i></a>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ayushraj9868@gmail.com" target="_blank">
          <i class="lni lni-envelope"></i>
      </a>
      <a href="https://www.upwork.com/freelancers/~01395809c9225c5de5" target="_blank">
          <i class="lni lni-upwork"></i>
      </a>
  </div>

  <div class="footer-bottom">
    Exciting updates are on the way—stay connected!
  </div>
</footer>
