<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/style.css">


<section id="home" class="page-section" style="background-image: url(./home-bg2.png); background-size: cover;">
    <div class="container position-relative">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div>
            <h4 class="text-info">Hello, I'm</h4>
            <h2 class="display-4 fw-bold mb-0">Ayush</h2>
            <h6>Professional Freelancer &amp; Backend Developer</h6>
            <div class="mt-4">
              <p class="text-muted mb-2">Clean code, creative solutions. <br> I'm your partner in building exceptional web experiences.</p>
            </div>           
          </div>
        </div>
        <div class="col-lg-6">
          <img src="images/ayush.jpg" alt="Ayush RAj" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  
  