<%- include("partials/header.ejs") %>

<section id="portfolio" class="page-section">
    <div class="container py-5">
      <div class="text-center">
        <h2 class="fw-bold">My Portfolio</h2>
        <p class="text-muted">Some of my recent works</p>
      </div>
      <div class="row g-4">
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="./law-firm.jpg" alt="Portfolio 1" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">TalkNest</h5>
              <p class="card-text">Annonymous Chatting Web Application</p>
              <a href="https://github.com/atgdot/TalkNest" class="btn btn-outline-info" target="_blank">View Project</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="./school.jpg" alt="Portfolio 2" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Attendence Management System</h5>
              <p class="card-text">Real time marking using Facial Recognision</p>
              <a href="" class="btn btn-outline-info" target="_blank">View Project</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="./hospital.jpg" alt="Portfolio 3" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">DB backup System</h5>
              <p class="card-text">write here</p>
              <a href="" class="btn btn-outline-info" target="_blank">View Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>