<%- include("partials/header.ejs") %>

<div class="wrapper">
  <div class="content">
<section id="services" class="page-section bg-light">
    <div class="container py-5">
      <div class="text-center">
        <h2 class="fw-bold">My Services</h2>
        <p class="text-muted">What I can do for you</p>
      </div>
      <div class="row text-center">
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm p-4">
            <i class="lni lni-code display-4 text-info mb-4"></i>
            <h4 class="fw-bold">Web Development</h4>
            <p class="text-muted">Building responsive and functional websites using the latest technologies.</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm p-4">
            <i class="lni lni-pencil-alt display-4 text-info mb-4"></i>
            <h4 class="fw-bold">Backend Design</h4>
            <p class="text-muted">scalable, robust, secure web applications according to your needs.</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm p-4">
            <i class="lni lni-brush display-4 text-info mb-4"></i>
            <h4 class="fw-bold">AI Integration</h4>
            <p class="text-muted">Implementing intelligent AI solutions to enhance automation and user experience.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <%- include("partials/footer.ejs") %>
</div>